

<li Class="DropDown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Minor Entities</li>
        <li class="divider" />    
        <li><a href="/University/Admin/Course">&nbsp;&nbsp;Course</a></li>
        <li><a href="/University/Admin/Subject">&nbsp;&nbsp;Subject</a></li>
    




    </ul>

</li>
